/* Запис виду пристрою */
/* Загальні стилі, які застосовуються завжди */
@media all{
  /* Застосовує стилі для всіх типів пристроїв та умов відображення. Це є типовим значенням, якщо тип медіа не вказаний. */
}

/* Стилі для друку */
/* Застосовує стилі для друку. Використовується для налаштування вигляду сторінок при друку. */
@media print {
  body {
    color: black; /* Забезпечує чорний текст для друку */
  }
}

/* Стилі для екрану */
/* Застосовує стилі для екрану. Це типовий медіа-тип для стандартних екранів комп'ютерів та мобільних пристроїв. */
@media screen {
  body {
    background-color: #f0f0f0; /* Забезпечує світлий фон для екрану */
  }
}

/* Стилі для синтезаторів мовлення */
/* Застосовує стилі для синтезаторів мовлення, таких як екранні читачі. Використовується для оптимізації вигляду  */
/* та взаємодії для аудіторії, яка використовує текст-на-мові вивід. */
@media speech {
  body {
    display: none; /* Ховає зайві елементи для синтезаторів мовлення */
  }
}


/* Запис характеристик пристрою */
/* 1. orientation, вертикальна чи горизонтальна*/
@media (orientation:portrait(or landscape)){
}
/* 2. якщо сайт відкрито на пристрої з певною роздільною здатністю 300dpi- 300 пікселів на дюйм */
@media (resolution: 300dpi){ /*+ max-resolution or min-resolution*/
} 
/* 3. якщо сайт відкрито на чорно-білому екрані */
@media (monochrome){
}


/* Брейкпоінти */

@media (max-width:767px){
}
@media (min-width: 767px){  
}
@media (min-height: 500px){
}
@media (max-height: 500px){
}




/* Класичні брейкпоінти для адаптивного дизайну */

/* 1. Для маленьких мобільних пристроїв: */
/* Розмір екрану менше 480 пікселів. */
@media screen and (max-width: 480px) {
  /* Стилі для маленьких мобільних пристроїв */
}

/* 2. Для середніх мобільних та планшетів: */
/* Розмір екрану від 481 пікселя до 768 пікселів. */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Стилі для середніх мобільних та планшетів */
}

/* 3. Для планшетів та невеликих ноутбуків */
/* Розмір екрану від 769 пікселів до 1024 пікселів. */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Стилі для планшетів та невеликих ноутбуків */
}

/* 4. Для більших ноутбуків та моніторів:
Розмір екрану від 1025 пікселів та вище. */
@media screen and (min-width: 1025px) {
  /* Стилі для більших ноутбуків та моніторів */
}

/* Комбінування запитів  */
@media screen and (min-width: 1025px), print and (min-width: 768px) {
  /* Стилі для більших ноутбуків та моніторів */
}


