boby {
  background-color: aqua;
}

p {
  margin: 15px;
}
/* шрифти */


// /* за замовчування шрифт 16пх */
// /* px - абсолютна частина вимірювання */
.block {
  &_1 {font-size: 14px;} // px  не дозволяє збільшуватись шрифту разом з налаштуванням браузера

  // /* em - відноса ширина - 1em = розміру шрифта батьківського елементу */
  &_2 {font-size: 1.5em;} // 16px * 1.5

  &_3 {font-size: 1.8rem;} // те ж саме, що і em, тільки привязка не до батьківського елементу, а конкретно до шрифта браузера, 
                          // не важливо який розмір шрифта в батьківського елементу
       
  // vh - висора вюпорта
  // vw - ширина вюопрта
  // vmin - найменше значення 
  // vmax

  // 100vw і 100vh = вся ширина і вся висота вікна браузера відповідно 
  // 100wmin, 100hmax = найменша або найбільна ширина чи висота вюпорту

  &_4 {font-size: 1.5vw;} //- пряма пропорційна залежність ширені вікна бразера
  &_5 {width: 50wmax;} // - ширина блоку = половині шини вюпорту 
  &_6 {}
  &_7 {}
  &_8 {}
  &_9 {}
}
