.areal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
/* по горизонталі, вертикалі, розмиття, колір */
.shadow{
  /* по пікселю вниз, вліво, розмір розмиття */
  text-shadow: 1px 1px 5px #000000
}
/* nowrap забороняє переведення тексту на нову сторінку */
.white-space{
  white-space: nowrap
}
.text-indent{
  text-indent:20px
}
.text-transform{
  text-transform:capitalize
}
.text-decoration{
  text-decoration:line-through
}
.font-style{
  font-style:italic;
}
.text-align{
  text-align:center
}
.font-weight{
  font-weight:700
}
.letter-spacing{
  letter-spacing: 2px;
}
