div{}

/* обирає ВСІ p після div, якщо вони маюсь спільний батьківський елемент */
div~p{
  color:rgb(219, 219, 20)
}

/* обирає ПЕРШИЙ p після div, незалежно від патьківського елементу */
div+p{
  color:rgb(153, 61, 58);
  font-size: 25px;
}

.bigred{}

/* всі елементи p на мершому рівні вкладенні в .bigred  */
.bigred>p{
  color: rgb(226, 166, 166);
}
/* # всі спани в середині елемента з класом бігред */
.bigred span {
  color: blueviolet;
}

