body{
  font-size: 100px;
}
.wraper {
  margin: 90px auto;
  border: 10px solid black;
}

.block {
		&__row {
      // флекс не займає всю ширину, а елементи стали німи строковими
      // display: inline-flex;
      // елементи вистроїлись в ряд, на ширину контенту, але залишаються блочними
      display: flex;


      // вирівнювання контенту по горизонталі, по дефолту justify-content: flex-start
      justify-content: center;

      // вирівнювання контенту по вертикалі, по дефолту stretch(підлаштовується піж висоту найвищого елементу
      align-items: center;

      // дозволяє переходити елементам, якщо не вистачає в блоці місця, за замовчуванням no-wrap
      flex-wrap: wrap-reverse;
      border: 15px solid rgb(66, 10, 221);

      // за замовчуванням raw
      // flex-direction: column;
      
    }
		&__column {
      border: 15px solid rgb(4, 88, 88);

        // керує базовим розміром елементу, по дефолту flex-basis: auto;(флекс елемент займає розмір, який рівний розміру контенту)
        // можна вказувати у відсотках, або пікселях
        flex-basis: 200px;

      &_1{
        //  - це align-items тільки для конкретного елементу 
        align-self: flex-end;

        // для нормального використання треба кожному елементу зазначити ордер,
        // ну або зазначити поміж ким такий ордер буде виконуватись,
        // такі елементи будуть сортуванись після елементів, в яких ордеру немає
        order: 3;

        // дозволяє флекс елементу збільшуватись, за замовчування 0 (не може збільшуватись)
        flex-grow: 1;

        // дозволяє елементу зменшуватись, за замовчуванням 1
        flex-shrink: 1;

        // короткий запис
        // збільшуватись, зменшуватись, бейсіс 
        // flex: 1 1 auto
      }
      &_2{
        order: 1;
      }
      &_3{
        order: 2;
      }
    }
		&__item {
      background-color: rgb(168, 247, 10);
      text-align: center;
      border: 15px solid red;
    }

}
